<html>
   <head>
      <title><%= @title %></title>
      
      <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/onln/stylesheets/global.css?token=1443176938"/>
      <link rel="stylesheet" type="text/css" href="/onln/stylesheets/thread.css?token=1443176938" />
   </head>
   <body>
      
      <div style="margin-left: 20px;margin-top: 15px;">
      <%= yield %>
    </div>
   </body>
</html>