<a href="/bot/site/6">all</a>

<table style="width:90%;">
	<tr>
	<td valign="top">
	<ul>

		<% Forums.filter(siteid:6, check:1).each do |f| %>
		<li>
			<a href="/bot/sqlr/<%= f.fid %>">+</a>
			<a href="/sqlru/forum/<%= f.fid %>"><%= f.name %> </a>
			
		</li>
		<% end %>
	</ul>
	</td>
	</tr>
</table>