<a href="/bot/site/6">all</a>

<table style="width:90%;">
	<tr>
	<td valign="top">
		<% Forums.filter(siteid:6, check:1).each do |f| %>
			||<a href="/sqlru/forum/<%= f.fid %>"><%= f.name %> </a>
		<% end %>
	</td>
	</tr>
</table>