<html>
   <head>
      <title><%= @title %></title>
      
      <script type="text/javascript" src="/sqlru/javascripts/helper.js"></script>
      <script type="text/javascript" src="/sqlru/javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="/sqlru/javascripts/jquery-ui.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/sqlru/stylesheets/layout.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="/sqlru/stylesheets/actualforum2.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="/sqlru/stylesheets/jquery-ui.css" media="screen" />
   </head>
   <body>
      <div style="margin-left: 20px;margin-top: 15px;">
         updated:
         <a href="/sqlru/forum">all forums</a><br/>
         <a href="/sqlru/stat/show_recent_posts">recent</a><br/>
         <a href="/sqlru/stat/users">today users</a><br/>
         <a href="/sqlru/stat/today_users_posts">today_users_posts</a><br/>
         <a href="/sqlru/stat/users_posts_table">post_table</a><br/>
         <a href="/sqlru/show/16/periodic/420">periodic</a><br/>
         <a href="/sqlru/show/16/auto">auto</a><br/>
         <a href="/sqlru/forum/16">PT</a>
      </div>
      
      <div id="page-container">
         <div id="content-wrapper-forum">
            <%= yield %>
         </div>
      </div>
   </body>
</html>