<a href="/bot/site/3">all</a>
<table style="width:90%;">
	<tr>
	<td valign="top">
	<ul>

		<% @forums.each do |f| %>
			<a href="/bot/lor/<%= f.fid %>">+++</a>
			<a href="/lor/forum/<%= f.fid %>"><%= f.name %> </a>|
		<% end %>
	</ul>
	</td>
	</tr>
</table>