<a href="/bot/site/10">all</a>
<%
 forums = FbotWeb::Fpda.cache['s10_checked_forums']
 #pfids = forums.map(&:parent_fid)
 parents = FbotWeb::Fpda.cache['s10_parents_forchecked']
%>
<table style="width:90%;">
	<tr>
	<td valign="top">
    <a href="/fpda/forum/tracking_threads">tracking_threads</a>
    <br/><a href="/fpda/forum/tracking_threads/buy">tracking_threads_buy</a>
		<% forums.each do |f| %>
                  <% pforum = parents.find{|pf| pf.fid == f.parent_fid}%>
		     <br/>
                  <a href="/fpda/forum/show/<%= f.fid %>"><%= f.title %></a> << <%= pforum.title if pforum %> 
		<% end %>
	</td>
	</tr>
</table>