<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
  <head>
    <title><%=@title%></title>
    
    <script src="/rsn/javascripts/analytics.js" async=""></script>
    <script src="/rsn/javascripts/site.js"></script>
    
    <link href="/rsn/stylesheets/site.css" rel="stylesheet">
    
    <script src="/rsn/javascripts/messages.js"></script>
    
    <link href="/rsn/stylesheets/messages.css" rel="stylesheet">
    
    <script type="text/javascript" src="/rsn/javascripts/addthis_widget.js#async=1"></script>
    <script type="text/javascript" src="/rsn/javascripts/jquery.min.js"></script>
  </head>
  <body>
    <div style="margin-left: 20px;margin-top: 15px;">
      updated: 
      <a href="/rsn/stat/recent_posts">recent</a>
      <a href="/rsn/forum">all forums</a>
      <a href="/forum">main</a>
    </div>
    <div style="margin-left: 20px;margin-top: 15px;">
      <%= yield %>
    </div>
  </body>
</html>