

<% (0..DateTime.now.hour).each do |h| %>

<%= link_to "==#{h}", url_for(:stat, :today_users_posts, :h=> h ) %>
<%end%>
<br />
<% @posts.group_by{|h| h[:addedby]}.sort_by{|k,v| -v.size}.each do |k,v| %>
<table class="msgTable">
	<tbody>
		
		<tr style="vertical-align:top">
			<td style="width:15%" class="msgBody">
				<%= link_to k, url(:stat, :today_users_posts,:id => v.first[:addeduid]) %>
				(<%= v.size %>)
			</td>
			<td class="msgBody">
				<% v.each  do |post|%>
				<% vv = post[:addeddate].strftime("%k:%M")  %>
				<%= "<span class='user_post_time'>#{vv} |</span>".html_safe %>
				
				<% end %>
			</td>
		</tr>
		
	</tbody>
</table>
<% end %>